<div class="max-w-md w-full rounded-lg bg-gray-200 mx-auto flex flex-col mt-10">

  <form id="restartPasswordForm" class="flex flex-col">
    <label>Correo electrónico</label>
    <input name="email" />
    <label>Nueva contraseña</label>
    <input name="password" />
    <input type="submit" />
  </form>
</div>

<script src="/js/resetpassword.js"></script>