<ul>
  {{#each products}}
    Nombre:
    <h2>{{this.title}}</h2>
    Description:
    {{this.description}}
    Price:
    {{this.price}}
    Stock:
    {{this.stock}}
    id
  {{/each}}
</ul>

<h1>Web Socket</h1>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
{{! <script src="/js/home.js"></script> }}