<div>

  <form id="resetPassword">
    <label>Correo electronico</label>
    <input name="" />
    <labe>
      Nueva Contraseña
    </labe>
    <input name="password" />
    <input type="submit" />
  </form>
</div>

<script src="/js/resetpassword.js"></script>